* {
  font-family: Montserrat !important;
}
body {
  background-color: #fae9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-contact-us {
  width: 700px;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.inputs,
.input-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs > input {
  margin: 5px;
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f4daf5;
}
.input-msg > input {
  margin: 5px;
  width: 100%;
  height: 70px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f4daf5;
}
.title {
  color: #912d94;
  font-size: 18px;
  font-weight: bold;
}

.left > img {
  width: 300px;
  border-radius: 10px;
}
.contact-button {
  width: 100%;
}
.Send {
  border: none;
  background-color: #912d94;
  width: 200px;
  padding: 8px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
}
